nav {
  height: 20px;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}
nav a {
  display: flex;
  align-items: center;
  background-color: #44bba4;
  color: #e7e5df;
  margin: 5px;
  padding: 20px;
  border-radius: 20px;
  text-decoration: none;
}
nav a:hover {
  color: #222;
  background-color: #e7bb41;
}
.username {
  color: #e7bb41;
  margin: 10px 5px;
  font-size: 20px;
  font-weight: 600;
}
.logo {
  margin-top: 5px;
  width: 36px;
  height: 36px;
  margin-right: auto;
}
